<p>
<h3>Agent系统信息--记录</h3>
</p>


<table border="1">
	<tbody>
		<tr bgcolor="#808080">
			<th scope="col" width="150">id</th>
			<th scope="col" width="250">操作系统</th>
			<th scope="col" width="300">网络</th>
			<th scope="col" width="100">cpu数</th>
			<th scope="col" width="100">进程数</th>
			<th scope="col" width="120">内存(M)</th>
			<th scope="col" width="120">剩余内存(M)</th>
		</tr>
		#foreach($info in $all)
		<tr>

			<td scope="row">$info.id</td>
			<td scope="row">$info.os</td>
			<td scope="row">$info.network</td>
			<td scope="row">$info.cpucount</td>
			<td scope="row">$info.syscpuidle</td>
			<td scope="row">$info.sysmem</td>
			<td scope="row">$info.sysmemfree</td>

			
		</tr>
		#end
	</tbody>
</table>

#parse("templates/paging.vm")
