
<h4>zoneid: $zoneid, serverid: $serverid</h4>

<br>

<fieldset>
	<legend>玩家数据</legend>
	<table border="0">
		<tbody>
			<tr>
				<th scope="col" align="left" width="250px">id</th>
				<th scope="col" align="left" width="250px">playerid</th>
				<th scope="col" align="left" width="200px">nickname</th>
				<th scope="col" align="left" width="100px">排名</th>
				<th scope="col" align="left" width="100px">击杀</th>
				<th scope="col" align="left" width="100px">伤害</th>
				<th scope="col" align="left" width="100px">承受伤害</th>
				<th scope="col" align="left" width="150px">time（分钟）</th>
				<th scope="col" align="left" width="150px">travel（米）</th>
				<th scope="col" align="left" width="300px">deadtime</th>
				<th scope="col" align="left" width="200px">总奖励</th>
				<th scope="col" align="left" width="200px">排名奖励</th>
				<th scope="col" align="left" width="200px">击杀奖励</th>
				<th scope="col" align="left" width="200px">伤害奖励</th>
			</tr>
			#foreach($a in $alldata)
			<tr>
				<td>$a.id</td>
				<td>$a.playerid</td>
				<td>$a.nickname</td>
				<td>$a.rank</td>
				<td>$a.killed</td>
				<td>$a.damage</td>
				<td>$a.hurt</td>
				<td>$a.time</td>
				<td>$a.travel</td>
				<td>$a.deadtime</td>
				<td>$a.reward</td>
				<td>$a.rankreward</td>
				<td>$a.killedreward</td>
				<td>$a.damagereward</td>
			</tr>
			#end
		</tbody>
	</table>
</fieldset>


