
<form id="form1" name="form1" method="post" action="/log/playerbuyitemlog" onsubmit="return check();">

	<p>
		<input type="datetime-local" name="starttime" value="$starttime" />～<input type="datetime-local" name="endtime" value="$endtime" />
		&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="text" name="nickname" id="nickname" value="$!nickname" placeholder="nickname 模糊查找" size="20" style="background-color: #CCFFCC">
		&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="submit" name="submit" id="submit" value="    查询    ">
	</p>

</form>




<hr>

	<table border="0">
		<tbody>
			<tr>
				<th scope="col" align="left" width="150px">No.</th>
				<th scope="col" align="left" width="200px">id</th>
				<th scope="col" align="left" width="200px">playerid</th>
				<th scope="col" align="left" width="200px">nickname</th>
				<th scope="col" align="left" width="100px">propid</th>
				<th scope="col" align="left" width="100px">price</th>
				<th scope="col" align="left" width="150px">result</th>
				<th scope="col" align="left" width="200px">time</th>
			</tr>
			#foreach($a in $alldata)
			<tr>
				<td>$!{velocityCount}</td>
				<td>$a.id</td>
				<td>$a.playerid</td>
				<td>$a.nickname</td>
				<td>$a.propid</td>
				<td>$a.price</td>
				<td>$a.result</td>
				<td>$a.time</td>
			</tr>
			#end
		</tbody>
	</table>


#if($alldata.size()>0)
#parse("templates/paging.vm")
#end




<script type="text/javascript">


function check(){
	if(form1.starttime.value==null || form1.starttime.value==""){
		alert("请输入开始时间！");
		return false;
	}

	if(form1.endtime.value==null || form1.endtime.value==""){
		alert("请输入结束时间！");
		return false;
	}

	if(form1.starttime.value > form1.endtime.value){
		alert("开始时间应该小于结束时间！");
		return false;
	}

	var nickname = form1.nickname.value.trim();
	if (nickname==null || nickname=="") {
		alert("请输入玩家昵称！");
		return false;
	}

	return true;
}



</script>